"""# ==========================================
#      AUTOFISHBOT CONFIGURATION FILE
# ==========================================
# Need Help: Discord > ilmirevanda

[SYSTEM]
# --- Mandatory Settings (Required) ---
USER_TOKEN = YOUR_TOKEN_HERE
CHANNEL_ID = YOUR_CHANNEL_ID_HERE
GUILD_ID = YOUR_GUILD_ID_HERE

# --- Debugging ---
DEBUG = TRUE

[CAPTCHA]
# --- 2Captcha API Key (Required) ---
OCR_API_KEY = YOUR_API_KEY_HERE

[NETWORK]
# --- Proxy Settings (Optional) ---
# Leave empty if not using proxy
USER_AGENT = 
PROXY_IP = 
PROXY_PORT = 
PROXY_AUTH_USER = 
PROXY_AUTH_PASSWORD = 

[COSMETIC]
# --- In-Game Cosmetics (Optional) ---
PET = 
BAIT = 
BIOME = 

[NOTIFICATION]
# --- Discord Webhook (Optional) ---
# Leave empty to disable
WEBHOOK_URL = 

"""
