#TEMPLATE CONFIGURATION FOR autofishbot_v2.3
#FILENAME: (NAME).CONFIG
#YOU CAN JUST COPY PASTE THIS FILE TO THE CONFIG
#FOLDER AND CUSTOMIZE IT.

#TIP:
#YOU CAN ALSO USE 'autofishbot_v3.3.exe --create' 
#TO CREATE A NEW CONFIG FILE.


#MORE HELP: DISCORD > ilmirevanda

#------------------------ SYSTEM RELATED --------------------------#
[SYSTEM]

USER_TOKEN = YOUR TOKEN
#STR | REQUIRED

USER_COOLDOWN = 3.5
#FLOAT | REQUIRED

CHANNEL_ID = YOUR CHANNEL ID
#STR | REQUIRED

GUILD_ID = YOUR GUILD ID
#STR | REQUIRED

DEBUG = TRUE
#BOOLEAN


#------------------------ CAPTCHA RELATED --------------------------#

[CAPTCHA]

OCR_API_KEY = YOUR API KEY
#STR | REQUIRED


#------------------------ NETWORK RELATED --------------------------#

[NETWORK]

USER_AGENT = 
#STR

PROXY_IP = 
#STR

PROXY_PORT = 
#INT

PROXY_AUTH_USER = 
#STR

PROXY_AUTH_PASSWORD = 
#STR

#---------------------- COSMETIC RELATED ------------------------#

[COSMETIC]

PET = 
#STR

BAIT = 
#STR

BIOME = 
#STR
