#TEMPLATE CONFIGURATION FOR autofishbot_v2.3
#FILENAME: (NAME).CONFIG
#YOU CAN JUST COPY PASTE THIS FILE TO THE CONFIG
#FOLDER AND CUSTOMIZE IT.

#TIP:
#YOU CAN ALSO USE 'autofishbot_v3.3.exe --create' 
#TO CREATE A NEW CONFIG FILE.


#MORE HELP: DISCORD > ilmirevanda

#------------------------ SYSTEM RELATED --------------------------#
[SYSTEM]

USER_TOKEN = YOUR TOKEN
#STR | REQUIRED

USER_COOLDOWN = 3.5
#FLOAT | REQUIRED

CHANNEL_ID = YOUR CHANNEL ID
#STR | REQUIRED

GUILD_ID = YOUR GUILD ID
#STR | REQUIRED

DEBUG = TRUE
#BOOLEAN


#------------------------ CAPTCHA RELATED --------------------------#

[CAPTCHA]

OCR_API_KEY = YOUR API KEY
#STR | REQUIRED


#------------------------ NETWORK RELATED --------------------------#

[NETWORK]

USER_AGENT = 
#STR

PROXY_IP = 
#STR

PROXY_PORT = 
#INT

PROXY_AUTH_USER = 
#STR

PROXY_AUTH_PASSWORD = 
#STR


#---------------------- AUTOMATION RELATED ----------------------#

[AUTOMATION]

BOOSTS_LENGTH = 5
#LITERAL INT (5 or 20)

MORE_FISH = FALSE
#BOOLEAN

MORE_TREASURES = FALSE
#BOOLEAN

FISH_ON_EXIT = FALSE
#BOOLEAN

AUTO_DAILY = FALSE
#BOOLEAN

AUTO_BUY_BAITS = FALSE
#BOOLEAN

AUTO_SELL = FALSE
#BOOLEAN

AUTO_UPDATE_INVENTORY = FALSE
#BOOLEAN


#------------------------ Break Settings (Seconds) --------------------------#

# A break can happen between 60 and 90 minutes
BREAK_INTERVAL_MIN = 3600
BREAK_INTERVAL_MAX = 5400
# Each break takes 30 to 50 minutes
BREAK_DURATION_MIN = 1800
BREAK_DURATION_MAX = 3000


#---------------------- COSMETIC RELATED ------------------------#

[COSMETIC]

PET = 
#STR

BAIT = 
#STR

BIOME = 
#STR
